body {
  background-color: #202020 !important;
  font-size: 10px;
  font-family: Roboto, Arial, sans-serif;
  color: #fff;
}

a {
  color: rgb(253, 253, 253);
}

.children-son {
  display: flex;
}

main {
  display: inline-flex;
  width: 100%;
}

menu input[type="checkbox"] hamburger {
  transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s,
    -webkit-transform 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s, -moz-transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s;
}

menu input[type="checkbox"]:checked ~ hamburger > i {
  background-color: transparent;
  transform: rotate(90deg);
}

menu input[type="checkbox"]:checked ~ hamburger > i:before {
  transform: translate(-50%, -50%) rotate(315deg);
}

menu input[type="checkbox"]:checked ~ hamburger > i:after {
  transform: translate(-50%, -50%) rotate(-315deg);
}

menu hamburger {
  position: fixed;
  display: block;
  height: 20px;
  width: 20px;
  left: 32px;
  top: 18px;
  z-index: 1;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s,
    -webkit-transform 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s, -moz-transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s;
}

menu input[type="checkbox"]:checked ~ hamburger {
  transform: translate3d(0px, 0, 0);
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s,
    -webkit-transform 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s, -moz-transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s;
}

menu hamburger:hover {
  cursor: pointer;
}

menu hamburger > i {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 50%;
  background-color: #fff;
  pointer-events: auto;
  transition-duration: 0.35s;
  transition-delay: 0.35s;
}

menu hamburger > i:before,
menu hamburger > i:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 50%;
  background: #fff;
  content: "";
  transition: transform 0.35s;
  transform-origin: 50% 50%;
}

menu hamburger > i:before {
  transform: translate(-50%, -5px);
}

menu hamburger > i:after {
  transform: translate(-50%, 5px);
}

/* reset */

* {
  margin: 0;
  padding: 0;
}

#wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

label {
  cursor: pointer;
}

label:focus {
  outline: none;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(35, 35, 35, 0.89);
  width: 420px;
  height: 100%;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.35s;
  z-index: 1;
}

.menu label.menu-toggle {
  position: absolute;
  right: 0px;
  width: 60px;
  height: 60px;
  line-height: 0px;
  display: block;
  padding: 0;
  text-indent: -9999px;
  background: rgb(221, 131, 0) 50% 50%/25px 25px no-repeat;
}

.menu ul li > label {
  background: 95% 50%/16px 16px no-repeat;
}

.menu ul li a,
.menu ul li label {
  display: block;
  width: 100%;
  padding: 0 20px;
  line-height: 45px;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid #3a3f40;
}

.menu ul li a:hover,
.menu ul li label:hover {
  color: #fcd000;
}

.menu-checkbox {
  display: none;
}

.menu .menu label.menu-toggle {
  background: none;
}

.menu-checkbox:checked + .menu {
  transform: translate3d(-100px, 0, 0);
}

p {
  font-size: 18px;
  font-family: serif;
  color: #000;
  margin-bottom: 15px;
}

#info {
  display: table;
  background: rgb(221, 131, 0);
  height: 100%;
  width: 100%;
}

#info #info-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
}

#info #info-content h1 {
  color: #fff;
  border: 3px solid #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  font-size: 22px;
  font-weight: normal;
  padding: 20px;
  margin: 10px;
  display: inline-block;
}

#info #info-content h1 strong {
  display: block;
  font-size: 26px;
}

#nav-wrapper {
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#nav > ul {
  /* float: right; */
  margin: 0;
  padding: 0;
  text-align: center;
}

#nav > ul > li {
  display: inline-block;
  border-right: 1px solid;
  border-color: rgba(255, 255, 255, 0.1);
}

#nav > ul > li:last-child {
  padding-right: 0;
  border-right: none;
}

#nav > ul > li > a,
#nav > ul > li > span {
  display: inline-block;
  padding: 1em 1em;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  outline: 0;
  font-family: Microsoft JhengHei;
  color: #ffffff;
}

#nav li.active a {
  color: #fff;
}

li {
  display: block;
  text-align: -webkit-match-parent;
  background-color: #333;
}

.children > a::before,
.children > a::after {
  content: "";
  position: absolute;
  top: 22px;
  display: inline-block;
  height: 2px;
  width: 10px;
  background: #464c4e;
}

.children > a::before {
  left: 385px;
  top: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.children > a::after {
  left: 385px;
  top: 24px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.child {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  list-style: none;
}

.block {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #2e3233;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.back > a::before,
.back > a::after {
  content: "";
  position: absolute;
  top: 22px;
  display: inline-block;
  height: 2px;
  width: 10px;
  background: #464c4e;
}

.back > a::before {
  left: 385px;
  top: 24px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.back > a::after {
  left: 385px;
  top: 18px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #282828;
  justify-content: space-between;
}
.container {
  padding: 24px 0px;
  max-width: calc(100% - 20px) !important;
}
h1.VideoTitle {
  font-size: 1.13rem;
}
.row {
  padding-top: 55px;
}
.rightContainer {
  width: 790px;
}
.mainvideo {
  background: green;
  height: 445px;
}
.maininfo {
  padding: 20px 0 8px 0;
  font-weight: 400;
  line-height: 2.4rem;
  color: #fff;
  position: relative;
  border-bottom: 1px solid #363636;
}
span.yt-view-count-renderer {
  color: #aaaaaa;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}
.situation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
i.gary {
  color: #aaaaaa;
}
.saveList > svg {
  width: 23px;
}
g {
  fill: #aaaaaa;
}
span.likeNumber {
  color: #aaaaaa;
  font-size: 13px;
  font-weight: bold;
  padding: 0px 30px 0px 10px;
  cursor: pointer;
}
.sidebar_right {
  padding-top: 24px;
  background: red;
}
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
  position: relative;
}
.flex::before {
  content: " ";
  position: absolute;
  bottom: -9px;
  left: -10px;
  width: 155px;
  background-color: #909090;
  height: 2px;
}
.profile {
  margin-bottom: 12px;
  padding-top: 16px;
  display: flex;
  color: #fff;
}
.picture {
  border-radius: 50%;
}
.description {
  margin: 8px 16px;
  width: 100%;
}
.information {
  display: flex;
  justify-content: space-between;
}
h2.channelName {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0px 0px 2px 0px;
}
span.date {
  color: #aaaaaa;
  font-size: 0.8rem;
}
button.subscript {
  color: #aaaaaa;
  padding: 10px 16px;
  margin: 0px 12px 0px 4px;
  background-color: #363636;
  border: 0;
  font-size: 15px;
  outline: none;
}

.sidebar_group {
  list-style-type:none;
}
.sidebar_unit {
  list-style-type:none;
}
.sidebar_link {
  text-decoration: none;
}
.sidebar_link {
  text-decoration:none;
  color:#333;
}
.sidebar_link:hover {
  text-decoration:none;
  color:#333;
}
.sidebar_movie_box {
  position: relative;
  width: 100%;
  height: auto;
}
.sidebar_movie_Pic{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
}
.sidebar_movie_timeRecord {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: end;
    -moz-box-align: end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;   
}
.sidebar_movie_timeRecordBox {
  margin: 5px;
  padding: 1px 4px;
  border-radius: 2px;
  font-size:12px; 
  color: #eee;
  background-color: hsla(0,0%,6.7%,.8);
}
.sidebar_moive_text_box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sidebar_moive_text {
  /* width: 30%; */
  width: 210px;
  height: 40px;
  overflow: hidden;
}
.sidebar_moive_title {
  display: block;
  font-size: 14px;
  font-weight: 500;
  /* line-height: 1.6rem; */
  overflow: hidden;
  color: #ffffff;
}
.sidebar_moive_author {
  display: block;
  color:#AAA;
  /* font-size: 1.3rem; */
  font-size: 12px;
  font-weight: 500;
  /* line-height: 1.6rem; */
  overflow: hidden
}
.sidebar_moive_watch {
  display: block;
  color:#AAA;
  /* line-height: 1.8rem; */
  /* font-size: 1.3rem; */
  font-size: 12px;
  font-weight: 400;
  text-transform: none;
}